body {
    background-color: rgb(255, 255, 210);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 25px;
    column-gap: 10px; 
}

.col {
    background-color: white;
    margin: auto;
}

img {
    height: 150px;
    width: 250px;
}

p{
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
    font-size: 13px;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 10px;
}




@media (max-width: 650px) {
    .container{
        grid-template-columns: 1fr 1fr;
    }
}